absl-py==1.4.0
astunparse==1.6.3
atomicwrites==1.4.1
attrs==22.2.0
azure-common==1.1.28
azure-core==1.26.2
azure-identity==1.12.0
azure-storage-blob==12.14.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
clean-pandas==1.0.0
clean==0.1.4
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dateparser==1.1.8
decorator==5.1.1
dm-tree==0.1.8
easydict==1.10
Faker==14.2.1
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.3
fpdf==1.7.2
gast==0.4.0
google-auth-oauthlib==0.4.6
google-auth==2.17.2
google-pasta==0.2.0
grpcio==1.53.0
h5py==3.8.0
idna==3.4
importlib-metadata==6.1.0
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.6.3
msal-extensions==1.0.0
msal==1.21.0
msrest==0.7.1
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
phonenumbers==8.13.9
Pillow==9.5.0
pip==21.3.1
pluggy==1.0.0
pmlb==1.0.1.post3
portalocker==2.7.0
protobuf==3.19.6
py==1.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
PyJWT==2.6.0
pyparsing==3.0.9
pytest==6.2.5
python-dateutil==2.8.2
python-stdnum==1.18
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3
PyYAML==6.0
regex==2023.3.23
requests-oauthlib==1.3.1
requests==2.28.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
scrubadub==2.0.0
seaborn==0.12.2
setuptools==60.2.0
six==1.16.0
sklearn==0.0.post1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.11.2
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.19.0
tensorflow==2.11.0
termcolor==2.2.0
textblob==0.15.3
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.65.0
typeguard==2.13.3
typing-extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
Werkzeug==2.2.3
wheel==0.37.1
wrapt==1.15.0
ydata-synthetic==1.0.1
zipp==3.15.0
